@use "./../../../../sizes.scss" as sizes;

.MenuBottom_MainContainer {
    display: flex;
    flex-direction: column;

    min-height: sizes.$navFooterHeight;
    height: sizes.$navFooterHeight;

    p {
        margin: 0;
    }
}