@import "./../../../colors.scss";
@import "./../../../sizes.scss";


html, body { height: 100%;}

body {
    margin: 0;
}

.dialogClass {
    min-width: 350px;
    width: 25%;
}

@media (max-width: 960px) {
    .dialogClass {
        min-width: inherit;
        width: 90%;
    }
}