<div class="MenuNavBar_MainContainer" *ngrxLet="{isUserLogged: isUserLogged$, navBarIsOpened: navBarIsOpened$, currentRoute: currentRoute$} as vm">
    <div class="MenuNavBar_ContentContainer">
        <div class="MenuNavBar_CenterContainer">

            <div id="menuMobile" >
                <button mat-icon-button (click)="switch()">
                    <mat-icon>density_medium</mat-icon>
                </button>
                <div>
                    <button mat-mini-fab id="settings" color="warn" aria-label="Settings" [routerLink]="appRoutes.Settings">
                        <mat-icon>settings</mat-icon>
                    </button>

                    <button *ngIf="vm.isUserLogged" id="logout" mat-mini-fab color="warn" aria-label="Login" (click)="logOut()">
                        <mat-icon>logout</mat-icon>
                    </button>
                    <button *ngIf="!vm.isUserLogged" id="login" mat-mini-fab color="warn" aria-label="Logout" [routerLink]="appRoutes.Login">
                        <mat-icon>account_circle</mat-icon>
                    </button>
                </div>
            </div>
            <ul [@collapse]="!vm.navBarIsOpened">
                <li>
                    <button 
                        mat-flat-button 
                        color="warn" 
                        [class.currentRoute]="vm.currentRoute === appRoutes.Home"
                        [routerLink]="appRoutes.Home">
                            {{ 'apps.shell.layout.menuNav.home' | translate }}
                    </button>
                </li>
                <li>
                    <button 
                        mat-flat-button color="primary"
                        [class.currentRoute]="vm.currentRoute === appRoutes.WorkoutExercisesList"
                        [routerLink]="appRoutes.WorkoutExercisesList">
                        {{ 'apps.shell.layout.menuNav.exercises' | translate }}
                    </button>
                </li>
                <li>
                    <button mat-flat-button color="primary" disabled>{{ 'apps.shell.layout.menuNav.news' | translate }}</button>
                </li>
            </ul>
        </div>
    </div>
</div>