<div class="MenuNavBar_MainContainer" *ngrxLet="{isUserLogged: isUserLogged$, navBarIsOpened: navBarIsOpened$} as vm">
    <div class="MenuNavBar_ContentContainer">
        <div class="MenuNavBar_CenterContainer">

            <div id="menuMobile" >
                <button mat-icon-button (click)="switch()">
                    <mat-icon>density_medium</mat-icon>
                </button>
                <div>
                    <button mat-mini-fab color="warn" aria-label="Login" [routerLink]="appRoutes.Settings">
                        <mat-icon>settings</mat-icon>
                    </button>

                    <button *ngIf="vm.isUserLogged" mat-mini-fab color="warn" aria-label="Login" (click)="logOut()">
                        <mat-icon>logout</mat-icon>
                    </button>
                    <button *ngIf="!vm.isUserLogged" mat-mini-fab color="warn" aria-label="Logout" [routerLink]="appRoutes.Login">
                        <mat-icon>account_circle</mat-icon>
                    </button>
                </div>
            </div>
            <ul [@collapse]="!vm.navBarIsOpened">
                <li>
                    <button mat-flat-button color="warn" [routerLink]="appRoutes.Home">{{ 'apps.shell.layout.menuNav.home' | translate }}</button>
                </li>
                <li>
                    <button mat-flat-button color="primary" [routerLink]="appRoutes.Home">{{ 'apps.shell.layout.menuNav.home' | translate }}</button>
                </li>
                <li>
                    <button mat-flat-button color="primary" disabled>{{ 'apps.shell.layout.menuNav.news' | translate }}</button>
                </li>
            </ul>
        </div>
    </div>
</div>