<div
    class="Login_MainContainer">

    <form [formGroup]="loginForm">
        <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput id="userEmail" name="userEmail" formControlName="userEmail"/>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput id="password" name="password" formControlName="password"/>     
        </mat-form-field>
        <button mat-flat-button color="primary" [disabled]="loginForm.valid" (click)="login()">log in</button>

    </form>
</div>
