@use "css/main.scss" as shellStyles;

workout-tracker-add-training-exercise-serie-dialog {
    .AddTrainingExerciseSerieDialog_MainContainer {
        mat-dialog-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0 !important;

            mat-stepper {
                width: 100% !important;
                .mat-vertical-content-container {
                    margin: 0;
                }
                
                .mat-step-header .mat-step-icon-selected,
                .mat-step-header .mat-step-icon-state-edit {
                    background-color: shellStyles.$mainColor;
                }
                .mat-vertical-content {
                    padding: 24px;
    
    
                    form {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        gap: 10px;
                        width: 100%;

                        .AddTrainingExerciseSerieDialog_ListContainer {
                            display: flex;
                            flex-direction: column;
                            width: 100%;
                            height: 100%;

                            .AddTrainingExerciseSerieDialog_ListEl {
                                display: flex;
                                height: 100%;
                                padding: 10px;
                            }
                        }
                    }
                }
            }


        }
    }

}

@media (max-width: 960px) {
    workout-tracker-add-training-dialog {
        .mat-vertical-content {
            .AddTrainingExerciseSerieDialog_MainContainer {
                mat-dialog-content {
                }
            }
        }
    }
}