@use "css/main.scss" as shellStyles;

:host {
    height: 100%;
}

.WorkoutExerciseList_MainContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    gap: 35px;

    workout-tracker-exercises-list-filter {
        width: 100%;
    }

    button {
        background-color: shellStyles.$mainColor;
    }
    h2 {
        margin-top: 0;
    }
}