<div
    *ngrxLet="{ filteredExercises: filteredExercises$ } as vm"
    class="WorkoutExerciseList_MainContainer">

    <workout-tracker-exercises-list-filter></workout-tracker-exercises-list-filter>
    
    <button mat-flat-button color="primary" (click)="newExercise()">
        {{ 'apps.workout-exercises.list.actions.addNewExercise' | translate }}
    </button>
    
    <h2>
        {{ 'apps.workout-exercises.list.title' | translate }}
    </h2>

    <div class="WorkoutExerciseList_ListContainer"
        *ngFor="let filteredExercise of vm.filteredExercises"
        (click)="openExerciseDetails(filteredExercise)">
        <workout-tracker-exercise-card [exercise]="filteredExercise"></workout-tracker-exercise-card>
    </div>
</div>
