@use "css/main.scss" as shellStyles;

:host {
    height: 100%;
}

.WorkoutTraining_MainContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    gap: 35px;
    .WorkoutTraining_TrainingExercise {
        width: 80%;
    }
}

@media (max-width: 960px) {
    .WorkoutTraining_MainContainer {
        .WorkoutTraining_TrainingExercise {

        }
    }
}