<div
    *ngrxLet="{ trainingDetails: trainingDetails$ } as vm"
    class="WorkoutTraining_MainContainer">
    <workout-tracker-view-header [title]="'common.actions.goBack' | translate" [goBackUrl]="appRoutes.WorkoutTrainingsList"></workout-tracker-view-header>

    <button mat-flat-button color="primary" (click)="newTrainingExercise()">
        {{ 'apps.workout-trainings.training.actions.addNewTrainingExercise' | translate }}
    </button>

    <h2>
        {{ 'apps.workout-trainings.training.title' | translate }}
    </h2>

    <h2>
        {{ 'apps.workout-trainings.training.training-exercises.list.title' | translate }}
    </h2>
    
    <div class="WorkoutTraining_TrainingExercise" 
        *ngFor="let trainingExercise of vm.trainingDetails.training?.trainingExercises"
        (click)="openTrainingExercise(trainingExercise)">
        <workout-tracker-training-exercise-card
            [trainingExercise]="trainingExercise">
        </workout-tracker-training-exercise-card>
    </div>
</div>

