@use "css/main.scss" as shellStyles;

:host {
    height: 100%;
}

.WorkoutTraining_MainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

    .WorkoutTraining_HeaderContainer {
        display: flex;
        flex-direction: row;
        gap: 10px;
        justify-content: flex-end;
        align-items: center;
        width: 100%;

        button {
            width: 40px;
            height: 40px;
            background-color: shellStyles.$mainColor;
        }
    }

    .WorkoutTraining_ContentContainer {


        .ExerciseTemplateFilter_ExerciseTemplateBanner {
            border-radius: 5px;
            width: 300px;
            padding: 5px 10px;
        }
        h2 {
            margin-bottom: 0;
        }
        
        .WorkoutTraining_InfoContainer {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;
            justify-content: space-around;

            width: 100%;
            .WorkoutTraining_MuscleGroupsContainer {
                display: flex;
                align-items: center;
                gap: 10px;
                p {
                    margin: 0;
                    font-weight: 600;
                }
            }
        }
        .WorkoutTraining_TrainingExercise {
            width: 100%;
        }
    }
}

@media (max-width: 960px) {
    .WorkoutTraining_MainContainer {
        .WorkoutTraining_ContentContainer {
            h2 {
                text-align: center;
            }
            .WorkoutTraining_InfoContainer {
                flex-direction: column;
                gap: 30px;

                .WorkoutTraining_MuscleGroupsContainer {
                    flex-direction: column;
                    width: 100%;

                    p {
                        text-align: center; 
                    }
                }
            }
        }
    }
}
@media print {
    .non-printable {
        display: none;
    }
}