<div class="AddExerciseTemplateDialog_MainContainer">
    <h2 mat-dialog-title>{{ 'apps.workout-exercises.list.addExercise.title' | translate }}</h2>
    <mat-dialog-content class="mat-typography">
        <mat-stepper orientation="vertical" linear #stepper animationDuration="700">
            <mat-step [stepControl]="form" [label]="'apps.workout-exercises.list.addExercise.step.basicInfo.title' | translate">
                <form [formGroup]="form">
                    <mat-form-field>
                        <mat-label>
                            {{ 'apps.workout-exercises.list.addExercise.step.basicInfo.form.fields.name' | translate }}
                        </mat-label>
                        <input matInput id="name" name="name" formControlName="name"/>
                        @if (form.controls.name.hasError('required')) {
                            <mat-error>{{ 'apps.workout-exercises.list.addExercise.step.basicInfo.form.errors.nameRequired' | translate }}</mat-error>
                        }
                    </mat-form-field>
        
                    <workout-tracker-muscles-selector
                        [label]="'apps.workout-exercises.list.addExercise.step.basicInfo.form.fields.musclesInvolved' | translate"
                        [errorLabel]="(form.controls.musclesInvolved.hasError('required') || form.controls.musclesInvolved.hasError('minLength')) ?
                            ('apps.workout-exercises.list.addExercise.step.basicInfo.form.errors.muscleRequired' | translate) :
                            null"
                        [formGroup]="form"
                        [formControlName]="'musclesInvolved'">
                    </workout-tracker-muscles-selector>

                    <div class="AddExerciseTemplateDialog_TypeContainer">
                        <mat-label>{{'apps.workout-exercises.list.addExercise.step.basicInfo.form.fields.type' | translate}}</mat-label>
                        <mat-button-toggle-group id="type" name="type" formControlName="type" [formGroup]="form">
                            <mat-button-toggle *ngFor="let exerciseType of exerciseTypes | keyvalue" [value]="exerciseType.value">{{'common.types.'+exerciseType.value| translate}}</mat-button-toggle>
                        </mat-button-toggle-group>
                    </div>

                    
                    <div class="AddExerciseTemplateDialog_EquipmentContainer">
                        <mat-label>{{'apps.workout-exercises.list.addExercise.step.basicInfo.form.fields.equipment' | translate}}</mat-label>
                        <mat-button-toggle-group id="equipment" name="equipment" formControlName="equipment" [formGroup]="form">
                            <mat-button-toggle *ngFor="let exerciseEquipment of exerciseEquipments | keyvalue" [value]="exerciseEquipment.value">{{'common.equipment.'+exerciseEquipment.value| translate}}</mat-button-toggle>
                        </mat-button-toggle-group>
                    </div>

                </form>
            </mat-step>
            <mat-step [label]="'apps.workout-exercises.list.addExercise.step.image.title' | translate">
                <div class="AddExerciseTemplateDialog_VideoContainer">

                    <p>{{'apps.workout-exercises.list.addExercise.step.image.form.description' | translate}}</p>

                    <mat-button-toggle-group (change)="switchCameraStatus($event.value)" [value]="cameraOpened">
                        <mat-button-toggle [value]="false">{{'common.actions.no' | translate}}</mat-button-toggle>
                        <mat-button-toggle [value]="true">{{'common.actions.yes' | translate}}</mat-button-toggle>
                    </mat-button-toggle-group>
        
                    <div class="AddExerciseTemplateDialog_Image" *ngIf="!cameraOpened && !photo">
                        <img [src]="photo | defaultExerciseTemplateImage:getFormType()"  alt="exercise image">
                    </div>

                    <div class="AddExerciseTemplateDialog_Video" *ngIf="cameraOpened && !photo">
                        <video poster="https://material.angular.io/assets/img/examples/shiba2.jpg" #video>Video stream not available.</video>
                        <button mat-flat-button type="button" color="primary" (click)="takePhoto()">
                            {{'apps.workout-exercises.list.addExercise.step.image.form.actions.capture' | translate}}
                        </button>
                    </div>
        
                    <div class="AddExerciseTemplateDialog_Image" *ngIf="cameraOpened && photo">
                        <img [src]="photo" />
                        <button mat-flat-button type="button" color="primary" (click)="clearPhoto()">
                            {{'apps.workout-exercises.list.addExercise.step.image.form.actions.clear' | translate}}
                        </button>
                    </div>
                </div>
            </mat-step>
            <mat-step [label]="'apps.workout-exercises.list.addExercise.step.aditionalInfo.title' | translate">
                <form [formGroup]="form">
                    <mat-form-field>
                        <mat-label>
                            {{ 'apps.workout-exercises.list.addExercise.step.aditionalInfo.form.fields.observations' | translate }}
                        </mat-label>
                        <input matInput id="observations" name="observations" formControlName="observations"/>
                    </mat-form-field>
                </form>
            </mat-step>
        </mat-stepper>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>
            {{ 'common.actions.cancel' | translate }}
        </button>
        <button *ngIf="stepper.selectedIndex !== 2" mat-button (click)="stepper.next()" [disabled]="!form.valid">
            {{ 'common.actions.next' | translate }}
        </button>
        <button *ngIf="stepper.selectedIndex === 2" mat-button [mat-dialog-close]="false" (click)="createExerciseTemplate()" [disabled]="!form.valid">
            {{ 'common.actions.create' | translate }}
        </button>
    </mat-dialog-actions>
</div>