<div
    class="SignUp_MainContainer">
    <h2>
        {{ 'apps.account.signUp.title' | translate }}
    </h2>

    <form [formGroup]="signUpForm">
        <mat-form-field>
            <mat-label>
                {{ 'apps.account.signUp.form.fields.userEmail' | translate }}
            </mat-label>
            <input matInput id="userEmail" name="userEmail" formControlName="userEmail"/>
            @if (signUpForm.controls.userEmail.hasError('required')) {
                <mat-error>{{ 'apps.account.signUp.form.errors.userEmailRequired' | translate }}</mat-error>
            }
            @if (signUpForm.controls.userEmail.hasError('email')) {
                <mat-error>{{ 'apps.account.signUp.form.errors.userEmailFormat' | translate }}</mat-error>
            }
        </mat-form-field>

        <mat-form-field>
            <mat-label>
                {{ 'apps.account.signUp.form.fields.userPass' | translate }}
            </mat-label>
            <input matInput id="password" name="password" formControlName="password"/>  
            @if (signUpForm.controls.password.hasError('required')) {
                <mat-error>{{ 'apps.account.signUp.form.errors.passwordRequired' | translate }}</mat-error>
            }   
        </mat-form-field>
        <button mat-flat-button color="primary" [disabled]="!signUpForm.valid" (click)="signUp()">
            {{ 'apps.account.signUp.form.actions.submit' | translate }}
        </button>
        <button id="googleButton" type="button" mat-flat-button color="primary" (click)="loginWithGoogle()">
            <div class="Login_loginWithGoogle">
                <img 
                mat-card-image 
                [src]="'assets/images/google/Google.logo.png'" 
                height="40px"
                width="40px"
                alt="Log in with google ">
                {{ 'apps.account.signUp.form.actions.googleLogin' | translate }}
            </div>
        </button>
    </form>
    <a [routerLink]="appRoutes.Login">
        {{ 'apps.account.login.form.actions.signUp' | translate }}
    </a>
</div>
