@use "css/main.scss" as shellStyles;
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

:host {
    height: 100%;
}

.SignUp_MainContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;

        min-width: 150px;
        max-width: 300px;
        width: 100%;
        
        mat-form-field {
            width: 100%;
        }

        button {
            margin-bottom: 15px;
        }
        #googleButton {
            background-color: shellStyles.$grey3;
            height: fit-content;
            .Login_loginWithGoogle {
                display: flex;
                align-items: center;
                padding: 5px 0px;
                gap: 10px;
            }
        }

    }
}