<div class="ExerciseFilter_MainContainer"
    *ngrxLet="{ exercisesFilters: exercisesFilters$ } as vm">

    <div class="ExerciseFilter_NameFilterContainer">
        <mat-form-field>
            <mat-label>{{'apps.workout-exercises.list.filter.byNamePlaceholder' | translate}}</mat-label>
            <input matInput type="text" [value]="vm.exercisesFilters.byName" #byNameInput>
        </mat-form-field>
        <button mat-mini-fab color="warn" 
            attr.aria-label="{{'apps.workout-exercises.list.filter.byNameLabel' | translate }}"  
            [disabled]="!byNameInput.value" 
            (click)="searchByName(byNameInput.value)">
            <mat-icon>search</mat-icon>
        </button>
        <div class="ExerciseFilter_NameFilterBanner">
            <workout-tracker-banner 
                [content]="'apps.workout-exercises.list.filter.banner.content' | translate">
            </workout-tracker-banner>
        </div>
    </div>
    <div class="ExerciseFilter_MuscleFilterContainer" [@accordion]="collapsed">
        <div class="ExerciseFilter_MuscleFilter">
            <div class="ExerciseFilter_MuscleFilterHeader">
                <h2>{{'apps.workout-exercises.list.filter.byMuscleLabel' | translate}}</h2>
            </div>
            <div class="ExerciseFilter_MuscleFilterContent">
                <workout-tracker-muscles-selector
                    [label]="'apps.workout-exercises.list.addExercise.form.fields.musclesInvolved' | translate"
                    (muscleSelection)="filterByMuscleInvolved($event)">
                </workout-tracker-muscles-selector>
            </div>
        </div>
    </div>
    <div class="ExerciseFilter_MuscleFilterActionsContainer">
        
        <div class="ExerciseFilter_MuscleFiltersActive" *ngIf="vm.exercisesFilters.byMuscles.length">
            <h2>{{'apps.workout-exercises.list.filter.filteredByMuscles' | translate}}</h2>
            <div>
                  <workout-tracker-muscle-pill *ngFor="let mucleInvolved of vm.exercisesFilters.byMuscles"
                    [muscleGroup]="mucleInvolved | appMuscleInvolvedGroup"
                    [specificMuscle]="mucleInvolved"
                    (click)="filterByMuscleInvolved(mucleInvolved)"
                  ></workout-tracker-muscle-pill>
            </div>
        </div>
        <button 
            [@rotate]="!collapsed"
            (click)="toggle()"
            mat-mini-fab 
            color="primary" 
            attr.aria-label="{{'pokemon.list.filter.openFilter' | translate }}">
                <mat-icon>keyboard_arrow_down</mat-icon>
        </button>
    </div>
</div>