@import "./../../../colors.scss";
@import "./../../../sizes.scss";


html, body { height: 100%;}

body {
    margin: 0;
    font-family: "Nunito", sans-serif;
}

.dialogClass {
    min-width: 350px !important;
    max-width: 400px !important;
    width: 50% !important;
}

.cardClass {
    box-shadow: $mainColor 0px 5px 15px !important;
    border: 1px solid $grey5 !important;
}

@media (max-width: 960px) {
    .dialogClass {
        min-width: inherit;
        max-width: none;
        width: 90%;
    }
}