<div
    *ngrxLet="{ 
        exerciseTemplateDetails: exerciseTemplateDetails$, 
        exerciseTemplateTrainingsDetails: exerciseTemplateTrainingsDetails$    
    } as vm"
    class="WorkoutExerciseTemplate_MainContainer">
    <workout-tracker-view-header [title]="'apps.workout-exercises.details.title' | translate" [goBackUrl]="appRoutes.WorkoutExerciseTemplatesList"></workout-tracker-view-header>
    
    <div class="WorkoutExerciseTemplate_ContentContainer view-body">

        <div class="WorkoutExerciseTemplate_InfoContainer">
            <workout-tracker-exercise-template-info 
                [exerciseTemplate]="vm.exerciseTemplateDetails.exercise!">
            </workout-tracker-exercise-template-info >

            <div class="WorkoutExerciseTemplate_MuscleGroupsContainer">
                <p>{{ 'apps.workout-exercises.details.exercise-template-info.musclesInvolved' | translate }}:</p>
                <div class="WorkoutExerciseTemplate_MuscleGroups">
                    <workout-tracker-muscle-pill *ngFor="let mucleInvolved of vm.exerciseTemplateDetails?.exercise?.musclesInvolved"
                        [muscleGroup]="mucleInvolved | appMuscleInvolvedGroup"
                        [specificMuscle]="mucleInvolved">
                    </workout-tracker-muscle-pill>
                </div>
            </div>
        </div>
        
        <workout-tracker-divider>
            <h2>{{'apps.workout-exercises.details.exerciseTrainings.title' | translate}}</h2>
        </workout-tracker-divider>
    
        <workout-tracker-banner 
            *ngIf="!vm.exerciseTemplateTrainingsDetails || vm.exerciseTemplateTrainingsDetails.length === 0"
            [content]="'apps.workout-exercises.details.exerciseTrainings.banner.content' | translate">
        </workout-tracker-banner>

        <div class="WorkoutExerciseTemplate_TrainingContainer">
            <div
                class="WorkoutExerciseTemplate_Training"
                *ngFor="let exerciseTemplateTrainingsDetail of vm.exerciseTemplateTrainingsDetails">
                <div class="WorkoutExerciseTemplate_TrainingInfo">
                    <p>{{'apps.workout-exercises.details.exerciseTrainings.info.date' | translate}}: {{exerciseTemplateTrainingsDetail.creationDate | localizedDate:'short' }}</p>
                    <div class="WorkoutExerciseTemplate_TrainingMuscles">
                        <p>{{'apps.workout-exercises.details.exerciseTrainings.info.muscle' | translate}}: </p>
                        <workout-tracker-muscle-pill *ngFor="let exerciseTemplateTrainingsDetailMuscleGroup of exerciseTemplateTrainingsDetail.muscleGroups"
                            [muscleGroup]="exerciseTemplateTrainingsDetailMuscleGroup">
                        </workout-tracker-muscle-pill>
                    </div>
                </div>
                <workout-tracker-training-exercise-card
                    *ngFor="let trainingExercise of exerciseTemplateTrainingsDetail.trainingExercises"
                    [trainingExercise]="trainingExercise">
                </workout-tracker-training-exercise-card>
        
            </div>
        </div>
    </div>


</div>
