<div
    *ngrxLet="{ 
        exerciseTemplateDetails: exerciseTemplateDetails$, 
        exerciseTemplateTrainingsDetails: exerciseTemplateTrainingsDetails$    
    } as vm"
    class="WorkoutExerciseTemplate_MainContainer">
    <workout-tracker-view-header [title]="'common.actions.goBack' | translate" [goBackUrl]="appRoutes.WorkoutExerciseTemplatesList"></workout-tracker-view-header>
    
    <div class="WorkoutExerciseTemplate_ContentContainer view-body">
        <h2>{{'apps.workout-exercises.details.title' | translate}}</h2>

        <div class="WorkoutExerciseTemplate_Info">
            <p>{{'apps.workout-exercises.details.info.name' | translate}}: <b>{{vm.exerciseTemplateDetails.exercise?.name}}</b></p>
            <p>...</p>
            <p>...</p>
            <p>...</p>
        </div>
        
        <h3>{{'apps.workout-exercises.details.exerciseTrainings.title' | translate}}</h3>
    
        <div
            class="WorkoutExerciseTemplate_TrainingContainer"
            *ngFor="let exerciseTemplateTrainingsDetail of vm.exerciseTemplateTrainingsDetails">
           <div class="WorkoutExerciseTemplate_TrainingInfo">
             <p>{{'apps.workout-exercises.details.exerciseTrainings.info.date' | translate}}: {{exerciseTemplateTrainingsDetail.creationDate | localizedDate:'short' }}</p>
            <div class="WorkoutExerciseTemplate_TrainingMuscles">
                <p>{{'apps.workout-exercises.details.exerciseTrainings.info.muscle' | translate}}: </p>
                <workout-tracker-muscle-pill *ngFor="let exerciseTemplateTrainingsDetailMuscleGroup of exerciseTemplateTrainingsDetail.muscleGroups"
                    [muscleGroup]="exerciseTemplateTrainingsDetailMuscleGroup">
                </workout-tracker-muscle-pill>
            </div>
           </div>
            <workout-tracker-training-exercise-card
                *ngFor="let trainingExercise of exerciseTemplateTrainingsDetail.trainingExercises"
                [trainingExercise]="trainingExercise">
            </workout-tracker-training-exercise-card>
    
        </div>
    </div>


</div>
