@use "css/main.scss" as shellStyles;

workout-tracker-exercise-template {
    .WorkoutExerciseTemplate_MainContainer {
        display: flex;
        flex-direction: column;
        height: 100%;
        align-items: center;
        justify-content: center;
    
        .WorkoutExerciseTemplate_ContentContainer {

            h2 {
                margin: 0;
                text-align: center;
            }
            .WorkoutExerciseTemplate_InfoContainer {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 10px;
                justify-content: space-around;
    
                width: 100%;
                .WorkoutExerciseTemplate_MuscleGroupsContainer {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    p {
                        margin: 0;
                        font-weight: 600;
                    }

                    .WorkoutExerciseTemplate_MuscleGroups {
                        display: flex;
                        flex-direction: column;
                        gap: 5px;
                    }
                }
            }

            .WorkoutExerciseTemplate_TrainingContainer {
                display: flex;
                flex-direction: column;
                width: 100%;
    
                gap: 15px;
    
                .WorkoutExerciseTemplate_TrainingInfo {
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-start;
                    flex-direction: column;

                    p {
                        margin: 0;
                    }

                    .WorkoutExerciseTemplate_TrainingMuscles {
                        display: flex;
                        align-items: center;
                        gap: 15px;

                    }
                }
            }
        }

    }
}


@media (max-width: 960px) {
    workout-tracker-exercise-template {
        .WorkoutExerciseTemplate_MainContainer {
            .WorkoutExerciseTemplate_ContentContainer {

                .WorkoutExerciseTemplate_InfoContainer {
                    flex-direction: column;
                    gap: 30px;
    
                    .WorkoutExerciseTemplate_MuscleGroupsContainer {
                        flex-direction: column;
                        width: 100%;
    
                        p {
                            text-align: center; 
                        }
                    }
                }
            }

        }
    }
}