/* You can add global styles to this file, and also import other style files */

$navHeaderHeight: 57px;
$navFooterHeight: 30px;

$navProfileHeight: 100px;
$navProfileWidth: 50px;


$ContentWidth: 85.49%;