<div class="TrainingsFilter_MainContainer"
    *ngrxLet="{ trainingsFilters: trainingsFilters$ } as vm">

    <div class="TrainingsFilter_DateFilterContainer">
        <div class="TrainingsFilter_DateFilterFormContainer">
            <div class="TrainingsFilter_DateFilterForm">
                <mat-form-field *ngIf="trainingsListFilterForm">
                    <mat-label>{{'apps.workout-trainings.list.filter.byDatePlaceholder' | translate}}</mat-label>
                    <mat-date-range-input
                      [formGroup]="trainingsListFilterForm"
                      [rangePicker]="campaignOnePicker"
                      [comparisonStart]="trainingsListFilterForm.value.fromDate"
                      [comparisonEnd]="trainingsListFilterForm.value.toDate">
                      <input matStartDate placeholder="Start date" formControlName="fromDate">
                      <input matEndDate placeholder="End date" formControlName="toDate">
                    </mat-date-range-input>
                    <mat-datepicker-toggle matIconSuffix [for]="campaignOnePicker"></mat-datepicker-toggle>
                    <mat-date-range-picker #campaignOnePicker></mat-date-range-picker>
                </mat-form-field>
                <button mat-mini-fab color="warn" 
                    attr.aria-label="{{'apps.workout-trainings.list.filter.byDateLabel' | translate }}"  
                    [disabled]="!trainingsListFilterForm?.value?.fromDate || !trainingsListFilterForm?.value?.toDate" 
                    (click)="search()">
                    <mat-icon>search</mat-icon>
                </button>
            </div>
            <button mat-flat-button color="warn" 
                attr.aria-label="{{'apps.workout-trainings.list.filter.actions.clearFilters' | translate }}"  
                [disabled]="!trainingsListFilterForm?.value?.fromDate && !trainingsListFilterForm?.value?.toDate && !trainingsListFilterForm?.value?.muscleGroups?.length" 
                (click)="clearFilters()">
                {{'apps.workout-trainings.list.filter.actions.clearFilters' | translate }}
            </button>

        </div>
        <div class="TrainingsFilter_NameFilterBanner">
            <workout-tracker-banner 
                [content]="'apps.workout-trainings.list.filter.banner.content' | translate">
            </workout-tracker-banner>
        </div>
    </div>
    <div class="TrainingsFilter_MuscleFilterContainer" [@accordion]="collapsed">
        <div class="TrainingsFilter_MuscleFilter">
            <div class="TrainingsFilter_MuscleFilterHeader">
                <h2>{{'apps.workout-trainings.list.filter.byMuscleGroupLabel' | translate}}</h2>
            </div>
            <div class="TrainingsFilter_MuscleFilterContent" *ngIf="trainingsListFilterForm" [formGroup]="trainingsListFilterForm">
                <workout-tracker-muscle-groups-selector
                    [label]="'apps.workout-trainings.list.addTraining.step.basicInfo.form.fields.muscleGroup' | translate"
                    [formGroup]="trainingsListFilterForm"
                    [formControlName]="'muscleGroups'"
                    (muscleGroupSelection)="search()">
                </workout-tracker-muscle-groups-selector>
            </div>
        </div>
    </div>
    <div class="TrainingsFilter_MuscleFilterActionsContainer">
        
        <div class="TrainingsFilter_MuscleFiltersActive" *ngIf="vm.trainingsFilters.muscleGroups.length">
            <h2>{{'apps.workout-trainings.list.filter.filteredByMuscles' | translate}}</h2>
            <div>
                  <workout-tracker-muscle-pill *ngFor="let muscleInvolvedByGroup of vm.trainingsFilters.muscleGroups"
                    [muscleGroup]="muscleInvolvedByGroup"
                  ></workout-tracker-muscle-pill>
            </div>
        </div>
        <button 
            [@rotate]="!collapsed"
            (click)="toggle()"
            mat-mini-fab 
            color="primary" 
            attr.aria-label="{{'apps.workout-trainings.list.filter.actions.openFilter' | translate }}">
                <mat-icon>keyboard_arrow_down</mat-icon>
        </button>
    </div>
</div>