@use "css/main.scss" as shellStyles;

:host {
    height: 100%;
}

.WorkoutTrainingsList_MainContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;

    workout-tracker-trainings-list-filter {
        width: 100%;
    }

    .WorkoutTrainingsList_ContentContainer {
        .WorkoutTrainingsList_HeaderContainer {
            display: flex;
            flex-direction: row;
            gap: 10px;
            justify-content: flex-end;
            align-items: center;
            width: 100%;
    
            button {
                width: 40px;
                height: 40px;
                background-color: shellStyles.$mainColor;
            }
        }
    
        .WorkoutTrainingsList_ListContainer {
            display: flex;
            flex-direction: column;
            width: 100%;
    
        }
    }


}

@media (max-width: 960px) {
    .WorkoutTrainingsList_MainContainer {
    }
}