<div
    *ngrxLet="{ 
        trainingList: trainingList$,
        trainingOngoing: trainingOngoing$,
        trainingsPagination: trainingsPagination$
    } as vm"
    class="WorkoutTrainingsList_MainContainer">

    <workout-tracker-trainings-list-filter></workout-tracker-trainings-list-filter>

    <div class="WorkoutTrainingsList_ContentContainer view-body">
        <workout-tracker-view-header class="header-padding" [title]="'apps.workout-trainings.list.title' | translate">
            <div
                class="WorkoutTrainingsList_HeaderContainer">
                <button mat-fab color="primary" (click)="newTraining()">
                    <mat-icon>add</mat-icon>
                </button>
                <button mat-fab color="primary" [disabled]="!vm.trainingOngoing" (click)="vm.trainingOngoing && openTrainingDetails(vm.trainingOngoing)">
                    <mat-icon>fast_forward</mat-icon>
                </button>
            </div>
        </workout-tracker-view-header>

        <div class="WorkoutTrainingsList_ListContainer">
            <div class="WorkoutTrainingsList_ListElement"
                *ngFor="let filteredTraining of vm.trainingList"
                (click)="openTrainingDetails(filteredTraining)">
                <workout-tracker-training-card [training]="filteredTraining"></workout-tracker-training-card>
            </div>
        </div>
    </div>


    <area 
        appIntersectionObserver
        (isIntersecting)="isIntersecting($event)"
        [offset]="50"
        [active]="vm.trainingList.length > 0 && vm.trainingsPagination.moreElements" />
</div>
