<div
    *ngrxLet="{ 
        trainingExercise: trainingExercise$, 
        trainingExerciseParentId: trainingExerciseParentId$, 
        trainingExercisePreviousSimilarTraining: trainingExercisePreviousSimilarTraining$ } as vm"
    class="WorkoutTrainingExercise_MainContainer">
    <workout-tracker-view-header [title]="'apps.workout-trainings.trainingExercise.title' | translate" [goBackUrl]="appRoutes.WorkoutTrainingsList+'/'+vm.trainingExerciseParentId">
        <div
        class="WorkoutTrainingExercise_HeaderContainer">
        <button mat-fab color="primary" (click)="newTrainingExerciseSerie()">
            <mat-icon>add</mat-icon>
        </button>
    </div>
    </workout-tracker-view-header>

    <div class="WorkoutTrainingExercise_ContentContainer view-body">
        <h2>{{ 'apps.workout-trainings.trainingExercise.trainingExercisePrevious.title' | translate }}</h2>
        
        <div 
            class="WorkoutTrainingExercise_PreviousSimiarTrainingsContainer">
            <workout-tracker-training-exercise-card
                *ngIf="vm.trainingExercisePreviousSimilarTraining && vm.trainingExercisePreviousSimilarTraining.length >= 1"
                [trainingExercise]="vm.trainingExercisePreviousSimilarTraining[0]">
            </workout-tracker-training-exercise-card>

            <workout-tracker-banner 
                *ngIf="!vm.trainingExercisePreviousSimilarTraining || vm.trainingExercisePreviousSimilarTraining.length === 0"
                [content]="'apps.workout-trainings.trainingExercise.trainingExercisePrevious.banner.content' | translate">
            </workout-tracker-banner>
        </div>

        <h2>{{ 'apps.workout-trainings.trainingExercise.template.title' | translate }}</h2>
    
        <div (click)="openExerciseTemplateDetails(vm.trainingExercise?.exerciseTemplate!)"
            class="WorkoutTrainingExercise_ExerciseTemplateContainer">
            <workout-tracker-exercise-template-card
                [exerciseTemplate]="vm.trainingExercise?.exerciseTemplate!">
            </workout-tracker-exercise-template-card>  
        </div>

    
        <workout-tracker-series-table
            [series]="vm.trainingExercise?.series"
            [actions]="true"
            (delete)="deleteTrainingExerciseSerie($event)"
            (edit)="editTrainingExerciseSerie($event)">
        </workout-tracker-series-table>    
    </div>

</div>
