<div
    *ngrxLet="{ 
        trainingExercise: trainingExercise$, 
        trainingExerciseParentId: trainingExerciseParentId$, 
        trainingExercisePreviousSimilarTraining: trainingExercisePreviousSimilarTraining$ } as vm"
    class="WorkoutTrainingExercise_MainContainer">
    <workout-tracker-view-header [title]="'apps.workout-trainings.trainingExercise.title' | translate" [goBackUrl]="appRoutes.WorkoutTrainingsList+'/'+vm.trainingExerciseParentId">
        <div
        class="WorkoutTrainingExercise_HeaderContainer">
        <button mat-fab color="primary" (click)="newTrainingExerciseSerie()">
            <mat-icon>add</mat-icon>
        </button>
    </div>
    </workout-tracker-view-header>

    <div class="WorkoutTrainingExercise_ContentContainer view-body">
        <div 
            class="WorkoutTrainingExercise_Info">
            <workout-tracker-training-exercise-info
                [trainingExercise]="vm.trainingExercise!">
            </workout-tracker-training-exercise-info>
        </div>

        <workout-tracker-divider>
            <h2>{{ 'apps.workout-trainings.trainingExercise.trainingExerciseSerie.title' | translate }}</h2>
        </workout-tracker-divider>

        <div
            class="WorkoutTrainingExercise_TrainingsExerciseSeriesContainer">
            <workout-tracker-banner *ngIf="!vm.trainingExercise?.series || !vm.trainingExercise?.series?.length"
                [type]="bannerType.Warning"
                [content]="'apps.workout-trainings.trainingExercise.trainingExerciseSerie.banner.content' | translate"
                [actionText]="'apps.workout-trainings.trainingExercise.actions.addTrainingExerciseSerie' | translate"
                (action)="newTrainingExerciseSerie()">
            </workout-tracker-banner>

            <workout-tracker-series-table
                *ngIf="vm.trainingExercise?.series && vm.trainingExercise?.series?.length"
                [series]="vm.trainingExercise?.series"
                [actions]="true"
                (delete)="deleteTrainingExerciseSerie($event)"
                (edit)="editTrainingExerciseSerie($event)">
            </workout-tracker-series-table> 
        </div>
        <workout-tracker-divider>
            <h2>{{ 'apps.workout-trainings.trainingExercise.trainingExercisePrevious.title' | translate }}</h2>
        </workout-tracker-divider>
        
        <div 
            class="WorkoutTrainingExercise_PreviousSimiarTrainingsContainer">
            <workout-tracker-training-exercise-card
                *ngIf="vm.trainingExercisePreviousSimilarTraining && vm.trainingExercisePreviousSimilarTraining.length >= 1"
                [trainingExercise]="vm.trainingExercisePreviousSimilarTraining[0]">
            </workout-tracker-training-exercise-card>

            <workout-tracker-banner 
                *ngIf="!vm.trainingExercisePreviousSimilarTraining || vm.trainingExercisePreviousSimilarTraining.length === 0"
                [content]="'apps.workout-trainings.trainingExercise.trainingExercisePrevious.banner.content' | translate">
            </workout-tracker-banner>
        </div>

        <workout-tracker-divider>
            <h2>{{ 'apps.workout-trainings.trainingExercise.template.title' | translate }}</h2>
        </workout-tracker-divider>
        
        <div (click)="openExerciseTemplateDetails(vm.trainingExercise?.exerciseTemplate!)"
            class="WorkoutTrainingExercise_ExerciseTemplateContainer">
            <workout-tracker-exercise-template-card
                [exerciseTemplate]="vm.trainingExercise?.exerciseTemplate!">
            </workout-tracker-exercise-template-card>  
        </div>   
    </div>

</div>
