<div
    *ngrxLet="{ trainingExercise: trainingExercise$, trainingExerciseParentId: trainingExerciseParentId$ } as vm"
    class="WorkoutTrainingExercise_MainContainer">
    <workout-tracker-view-header [title]="'common.actions.goBack' | translate" [goBackUrl]="appRoutes.WorkoutTrainingsList+'/'+vm.trainingExerciseParentId"></workout-tracker-view-header>

    <div class="WorkoutTrainingExercise_ContentContainer view-body">
        <button mat-flat-button color="primary" (click)="newTrainingExerciseSerie()">
            {{ 'apps.workout-trainings.trainingExercise.actions.addNewTrainingExerciseSerie' | translate }}
        </button>
    
        <h2>{{ 'apps.workout-trainings.trainingExercise.title' | translate }}</h2>
    
        <workout-tracker-series-table
            [series]="vm.trainingExercise?.series">
        </workout-tracker-series-table>    
    </div>

</div>
