@use "css/main.scss" as shellStyles;

:host {
    height: 100%;
}

.WorkoutTrainingExercise_MainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    .WorkoutTrainingExercise_HeaderContainer {
        display: flex;
        flex-direction: row;
        gap: 10px;
        justify-content: flex-end;
        align-items: center;
        width: 100%;

        button {
            width: 40px;
            height: 40px;
            background-color: shellStyles.$mainColor;
        }
    }

    .WorkoutTrainingExercise_ContentContainer {

        .WorkoutTrainingExercise_PreviousSimiarTrainingsContainer,
        .WorkoutTrainingExercise_ExerciseTemplateContainer {
            width: 100%;
        }
        workout-tracker-series-table {
            width: 100%;
        }
    }
}

@media (max-width: 960px) {
    .WorkoutTrainingExercise_MainContainer {
        .WorkoutTrainingExercise_ContentContainer {

        }
    }
}