@use "css/main.scss" as shellStyles;

:host {
    height: 100%;
}

.WorkoutTrainingExercise_MainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

    .WorkoutTrainingExercise_ContentContainer {
    }
}

@media (max-width: 960px) {
    .WorkoutTrainingExercise_MainContainer {
        .WorkoutTrainingExercise_ContentContainer {

        }
    }
}