@use "css/main.scss" as shellStyles;

workout-tracker-add-exercise-dialog {
    .AddExerciseDialog_MainContainer {
        mat-dialog-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            
            form {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 10px;
                width: 100%;
            }
    
            .AddExerciseDialog_VideoContainer {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
                .AddExerciseDialog_Video,
                .AddExerciseDialog_Image {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    margin-top: 10px;
                    width: 100%;
                    video,
                    img {
                        width: 100%;
                        // background-color: shellStyles.$grey5;
                        border: 1px solid  shellStyles.$grey5;
                    }
                }

            }
        }
    }

}

@media (max-width: 960px) {
    workout-tracker-add-exercise-dialog {
        .AddExerciseDialog_MainContainer {
            mat-dialog-content {
            }
        }

    }
}