<div class="AddExerciseDialog_MainContainer">
    <h2 mat-dialog-title>{{ 'apps.workout-exercises.list.addExercise.title' | translate }}</h2>
    <mat-dialog-content class="mat-typography">
        <form [formGroup]="form">
            <mat-form-field>
                <mat-label>
                    {{ 'apps.workout-exercises.list.addExercise.form.fields.name' | translate }}
                </mat-label>
                <input matInput id="name" name="name" formControlName="name"/>
                @if (form.controls.name.hasError('required')) {
                    <mat-error>{{ 'apps.workout-exercises.list.addExercise.form.errors.nameRequired' | translate }}</mat-error>
                }
            </mat-form-field>

            <workout-tracker-muscles-selector
                [label]="'apps.workout-exercises.list.addExercise.form.fields.musclesInvolved' | translate"
                [errorLabel]="(form.controls.musclesInvolved.hasError('required') || form.controls.musclesInvolved.hasError('minLength')) ?
                    ('apps.workout-exercises.list.addExercise.form.errors.muscleRequired' | translate) :
                    null"
                [formGroup]="form"
                [formControlName]="'musclesInvolved'">
            </workout-tracker-muscles-selector>
        </form>

        <div class="AddExerciseDialog_VideoContainer">
            <mat-label>
                ¿Quieres añadir una imágen?
            </mat-label>
            <mat-button-toggle-group (change)="switchCameraStatus($event.value)">
                <mat-button-toggle [value]="false">No</mat-button-toggle>
                <mat-button-toggle [value]="true">Yes</mat-button-toggle>
            </mat-button-toggle-group>

            <div class="AddExerciseDialog_Video" *ngIf="cameraOpened && !photo">
                <video #video>Video stream not available.</video>
                <button mat-flat-button type="button" color="primary" (click)="takePhoto()">
                    Take photo
                </button>
            </div>

            <div class="AddExerciseDialog_Image" *ngIf="cameraOpened && photo">
                <img [src]="photo" />
                <button mat-flat-button type="button" color="primary" (click)="clearPhoto()">
                    Clear photo
                </button>
            </div>
        </div>
        

    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>
            {{ 'common.actions.cancel' | translate }}
        </button>
        <button mat-button [mat-dialog-close]="false" (click)="createExercise()" [disabled]="!form.valid">
            {{ 'common.actions.create' | translate }}
        </button>
    </mat-dialog-actions>
</div>