<h2 mat-dialog-title>{{ 'apps.workout-exercises.list.addExercise.title' | translate }}</h2>
<mat-dialog-content class="mat-typography">
    <form [formGroup]="form">
        <mat-form-field>
            <mat-label>
                {{ 'apps.workout-exercises.list.addExercise.form.fields.name' | translate }}
            </mat-label>
            <input matInput id="name" name="name" formControlName="name"/>
              @if (form.controls.name.hasError('required')) {
                <mat-error>{{ 'apps.workout-exercises.list.addExercise.form.errors.nameRequired' | translate }}</mat-error>
              }
        </mat-form-field>

        <mat-form-field>
            <mat-label>
                {{ 'apps.workout-exercises.list.addExercise.form.fields.musclesInvolved' | translate }}
            </mat-label>
            <mat-select formControlName="musclesInvolved" multiple>
                <mat-option *ngFor="let muscle of muscles"  [value]="muscle">
                    {{'common.muscles.' + muscle | translate}}
                </mat-option>
            </mat-select>
            @if (form.controls.musclesInvolved.hasError('required') || form.controls.musclesInvolved.hasError('minLength')) {
                <mat-error>{{ 'apps.workout-exercises.list.addExercise.form.errors.muscleRequired' | translate }}</mat-error>
              }
          </mat-form-field>

        <div class="AddExerciseDialog_TypeContainer">
            <div class="AddExerciseDialog_TypeSelection"  
                *ngFor="let exerciseType of exerciseTypes" 
                (click)="selectExerciseType(exerciseType)">
                <workout-tracker-exercise-type-pill 
                    [exerciseType]="exerciseType" 
                    [opacity]="!isSelectedExerciseType(exerciseType)">
                </workout-tracker-exercise-type-pill>
            </div>
            @if (form.controls.types.hasError('required') || form.controls.types.hasError('minLength')) {
                <mat-error>{{ 'apps.workout-exercises.list.addExercise.form.errors.typeRequired' | translate }}</mat-error>
            }
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>
        {{ 'common.actions.cancel' | translate }}
    </button>
    <button mat-button [mat-dialog-close]="false" (click)="createExercise()" [disabled]="!form.valid">
        {{ 'common.actions.create' | translate }}
    </button>
</mat-dialog-actions>