workout-tracker-add-exercise-dialog {
    mat-dialog-content {
        form {
            display: flex;
            flex-direction: column;
            gap: 15px;

            .AddExerciseDialog_TypeContainer {
                display: flex;    
                flex-direction: column;
                gap: 15px;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: 0 20px;

                .AddExerciseDialog_TypeSelection {
                    width: 100%;
                    cursor: pointer;
                }
            }

        }
    }
}

@media (max-width: 960px) {
    workout-tracker-add-exercise-dialog {
        mat-dialog-content {
        }
    }
}