@use "css/main.scss" as shellStyles;

:host {
    height: 100%;
}

.WorkoutExerciseTemplatesList_MainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    workout-tracker-exercise-templates-list-filter {
        width: 100%;
    }
    .WorkoutExerciseTemplatesList_ContentContainer {        
        button {
            background-color: shellStyles.$mainColor;
        }
        h2 {
            margin-top: 0;
        }
    
        .WorkoutExerciseTemplatesList_ListContainer {
            display: flex;
            flex-direction: column;

            width: 100%;

        }        
    }

}

@media (max-width: 960px) {
    .WorkoutExerciseTemplatesList_MainContainer {
    }
}