<div
    *ngrxLet="{ filteredExerciseTemplates: filteredExerciseTemplates$, hasDefaultExerciseTemplatesLoaded: hasDefaultExerciseTemplatesLoaded$ } as vm"
    class="WorkoutExerciseTemplatesList_MainContainer">

    <workout-tracker-exercise-templates-list-filter></workout-tracker-exercise-templates-list-filter>



    <div class="WorkoutExerciseTemplatesList_ContentContainer view-body">
        <workout-tracker-view-header class="header-padding-top" [title]="'apps.workout-exercises.list.title' | translate">
            <div
                class="WorkoutExerciseTemplatesList_HeaderContainer">
                <button mat-fab color="primary" (click)="newExerciseTemplate()">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
        </workout-tracker-view-header>
        
        <workout-tracker-banner *ngIf="!vm.hasDefaultExerciseTemplatesLoaded"
            [type]="bannerType.Info"
            [content]="'apps.workout-exercises.list.banner.content' | translate"
            [actionText]="'apps.workout-exercises.list.actions.addDefaultExerciseTemplates' | translate"
            (action)="addDefaultExerciseTemplates()">
        </workout-tracker-banner>
    
        <div class="WorkoutExerciseTemplatesList_ListContainer">
            <div class="WorkoutExerciseTemplatesList_ListElement"
                *ngFor="let filteredExerciseTemplate of vm.filteredExerciseTemplates"
                (click)="openExerciseTemplateDetails(filteredExerciseTemplate)">
                    <workout-tracker-exercise-template-card [exerciseTemplate]="filteredExerciseTemplate"></workout-tracker-exercise-template-card>
        </div>
        </div>

    </div>
</div>
