@use "css/main.scss" as shellStyles;

:host {
    height: 100%;
}

.WorkoutExerciseTemplatesList_MainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

    workout-tracker-exercise-templates-list-filter {
        width: 100%;
    }

    .WorkoutExerciseTemplatesList_ContentContainer {   
        .WorkoutExerciseTemplatesList_HeaderContainer {
            display: flex;
            flex-direction: row;
            gap: 10px;
            justify-content: flex-end;
            align-items: center;
            width: 100%;
    
            button {
                width: 40px;
                height: 40px;
                background-color: shellStyles.$mainColor;
            }
        }
    
        .WorkoutExerciseTemplatesList_ListContainer {
            display: flex;
            flex-direction: column;

            width: 100%;

        }        
    }

}

@media (max-width: 960px) {
    .WorkoutExerciseTemplatesList_MainContainer {
    }
}