@use "./../../../../sizes.scss" as sizes;

:host {
    width: 100%;
}

.ProfileNavBar_MainContainer {
    top:100px;
    position: absolute;
    left: 0;

    .ProfileNavBar_ContentContainer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 10px;
        padding-left: 10px;
    
        height: sizes.$navProfileHeight;
        width: sizes.$navProfileWidth;

        position: fixed;

        z-index: 3;
    }
}