@use "css/main" as shellStyles;
:host {
    width: 100%;
}

.ProfileNavBar_MainContainer {
    top:100px;
    position: absolute;
    left: 0;

    .ProfileNavBar_ContentContainer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 10px;
        padding-left: 10px;
    
        height: shellStyles.$navProfileHeight;
        width: shellStyles.$navProfileWidth;

        position: fixed;

        z-index: 3;

        #logout {
            background-color: shellStyles.$logoutButtonColor;
        }

        #login {
            background-color: shellStyles.$loginButtonColor;
        }

        #settings {
            background-color: shellStyles.$settingsButtonColor;
        }
    }
}