<div class="BaseLayout_MainContainer">
    <div class="BaseLayout_HeaderContainer">
        <workout-tracker-menu-top></workout-tracker-menu-top>
    </div>
    <div class="BaseLayout_NavBarContainer">
        <workout-tracker-menu-nav-bar></workout-tracker-menu-nav-bar>
    </div>
    <div class="BaseLayout_BodyContainer">
        <workout-tracker-profile-nav-bar></workout-tracker-profile-nav-bar>
        <div class="BaseLayout_ContentContainer">
            <router-outlet></router-outlet>
        </div>
    </div>
    <div class="BaseLayout_FooterContainer">
        <workout-tracker-menu-bottom></workout-tracker-menu-bottom>
    </div>
</div>